/*map{ height: 180px; }*/

/* Move down content because we have a fixed navbar that is 50px tall */
/*body {
  padding-bottom: 3rem;
}*/

#map
{
    width: 100px;
    height:600px;
    min-height: 100%;
    min-width: 100%;
    display: block;
}

html, body, #container{
    height: 97%;
    width: 100%;
    margin: 0;
}

#header{
    height: 50px;  //or whatever. Note px not %.
    width: 100%;
}

#footer{
    height: 100px;  //or whatever. Note px not %.
    width: 100%;
}

#display-pane{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    font-size: 30px;
    bottom: 50px;
    right: 10px;
    color: 'block';
}

#info-pane{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(255,255,255,0.2);
    padding: 0px;
    font-size: 15px;
    bottom: 50px;
    left: 10px;
    color: 'black';
    width: 400px;
    height: 300px;
}

#title{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(255,255,255, 0.8);
    padding: 10px;
    font-size: 15px;
    top: 0px;
    width: 600px;
    left: 30%;
    color: 'black';
    text-align: center;

}

#selected_crime{
    visibility: hidden;	
}
